import android.content.Context
import okhttp3.mockwebserver.Dispatcher
import okhttp3.mockwebserver.MockResponse
import okhttp3.mockwebserver.MockWebServer
import okhttp3.mockwebserver.RecordedRequest

class MockNetworkRequestManager(context: Context) {

    val server = MockWebServer()

    init {

        {{#item}}
        val {{name}}String: String = context.resources.openRawResource(R.raw.{{name}}).bufferedReader().use { it.readText() }
        {{/item}}

        // setup the dispatcher to use files as the mock responses
        server.setDispatcher(object : Dispatcher() {
            override fun dispatch(request: RecordedRequest): MockResponse {
            {{#item}}if (request.path.equals("{{request.url.joinedPath}}")){
                return MockResponse().setResponseCode(200).setBody({{name}}String)
            }{{^last}} else {{/last}}{{/item}}
                return MockResponse().setResponseCode(404);
            }   
            })
        }
}